<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
        <Properties>
                <Property name="log_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
                <Property name="log_LEVEL_PATTERN">%5p</Property>
                <Property name="log_DATEFORMAT_PATTERN">yyyy-MM-dd HH:mm:ss.SSS</Property>
                <Property name="CONSOLE_log_PATTERN">%clr{%d{${sys:log_DATEFORMAT_PATTERN}}}{faint} %clr{${sys:log_LEVEL_PATTERN}} %clr{%pid}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n${sys:log_EXCEPTION_CONVERSION_WORD}</Property>
                <Property name="FILE_log_PATTERN">%d{${log_DATEFORMAT_PATTERN}} ${log_LEVEL_PATTERN} %pid --- [%t] %-40.40c{1.} : %m%n${sys:log_EXCEPTION_CONVERSION_WORD}</Property>
        </Properties>
        <Appenders>
                <Console name="Console" target="SYSTEM_OUT" follow="true">
                        <PatternLayout pattern="${sys:CONSOLE_log_PATTERN}" />
                </Console>
        </Appenders>
	<Loggers>
		<logger name="org.springframework" level="info" />
		<logger name="org.hibernate" level="info" />
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
